*{
    margin:0px;
    padding:0px;
}

.mainnav{
    background-color:#7ba418;
    position:fixed;
    top: 0px;
    z-index:500
}

.navanchor{
    color:white;
    margin-top: 8px;
    font-family:sans-serif;
    font-weight:bolder;
}

.home{
    display:flex;
    justify-content:end;
    font-size: 25px;
    font-family:"roboto";
}

.venu1{
    margin-right:20px;
}

.vegimg{
    margin-left:100px;
}

.favicon{
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:8px;
}

.navcont2{
    display:flex;
    justify-content: space-between;
    width:28vw;
    font-size:25px;
    color:white;
    margin:15px;
    padding-right: 15px;
    text-decoration:none;   
}

.subcont1{
    display:inline-block;
    font-weight:bold;
}

.button1{
    background-color:#7ba418;
    height:60px;
    width:260px;
    font-size:20px;
    color:white;
    margin-top:30px;
    border-width:1px;
}

.maincont1{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-left:220px;
    height:100vh;
    font-family:sans-serif;
}

.heading{
    font-weight:bold;
}

.mainimagediv{
    display:flex;
    justify-content:center;
    margin-left:140px;
}

.img1{
    position:relative;
    z-index:20;
}
.subdivimg{
    margin-left:50px;
}

.img3{
    margin-top:5px;
}

.homepage{
    height:100vh;
    width:99vw;
    font-family:"roboto";
}

.ourproduts{
    text-align: center;
    font-weight:bold;
    font-family: sans-serif;
    font-size: 40px;
    margin:40px; 
}

.a{
    text-decoration: none;
    color:black;
    margin-right:35px;
    font-weight:bold;
    font-family:"roboto";
}

.amain{
    text-align:center;
}

.imgmaindiv{
    background-color: lightgrey;
}

.imgmaindiv1{
    padding-top:20px;
    display:flex;
    justify-content: center;
    text-align:center;
    margin-top:15px;
}

.img4div{
    background-color:white;
    height:350px;
    width:320px;
    padding-top:40px;
    font-weight:bold;
    font-family:sans-serif;
    margin-right:15px;
}

.p1{
    color:#7ba418;
    font-size:20px; 
    font-family:Roboto;
    margin-bottom:5px;
}

.cardp{
    margin-top:10px;
    margin-bottom:0px;
}

.imgmaindiv2{
    padding-top:20px;
    display:flex;
    justify-content: center;
    text-align:center;
    padding-bottom:20px;
}

.honeydiv{
    font-family:sans-serif;
    display:flex;
    justify-content:start;
    margin-top:100px;
    margin-left:180px;
}

.p2{
    color:#7ba418;
    font-weight: bold;
}

.heading1{
    font-weight: bolder;
    font-family:sans-serif;
}

.honeysubdiv{
    margin-left:80px;
    margin-top:30px;
}

.button2{
    background-color:#7ba418;
    height:60px;
    width:180px;
    font-family: sans-serif;
    font-size: 15px;
    color:white;
    margin-top:30px;
    border-width:1px;
}

.timediv{
    display:flex;
    justify-content: space-between;
    width:250px;
    margin-top:20px;
}

.bold{
    font-weight:bold;
    font-family:"roboto";
    font-size:20px;
}

.h22{
    font-family:sans-serif;
    text-align:center;
    font-weight:bolder;
    margin-top:60px;
    margin-bottom:20px;
}

.iframecont{
    text-align: center;
    margin-top:50px;
}

.iframep{
    font-family:"roboto";
    color:#7ba418;
    font-weight:bolder;
    font-size:20px;
    margin-top:35px;
}

.lastsectioncont{
    display:flex;
    justify-content:space-around;
    text-align: left;
}

.lastsectionp1{
    font-family: sans-serif;
    font-size:17px;
}

.lastsectionp2{
    font-family:sans-serif;
    font-weight:bold;
    font-size:15px;
}

.lastsectionp3{
    color:#7ba418;
    font-weight: bold;
    font-family:sans-serif;
}

.lastsectionsubcont{
    text-align:left;
    margin-left:30px;
}

.lastsectionimg1cont{
    height:510px;
    width:350px;
    background-color:whitesmoke;
    margin-right:25px;
}

.lastsectionimg1cont1{
    display:flex;
    justify-content:space-between;
    margin-top:40px;
    margin-left:15px;
    margin-right:15px;
    font-family: "Roboto";
    font-weight:bold;
    text-align:left;
}
 
.lastsectionimg1heading{
    text-align:left; 
    margin-left: 15px; 
    margin-top:30px;
    font-size: 25px;
    font-weight: bold;
}

.mainimgcont{
    display:flex;
    justify-content: center;
    margin-top:50px;
}

.curatedproductsh1{
    font-weight:bold;
}

.curatedimagediv{
    display:flex;
    justify-content: center;
    text-align:left;
}

.cmaindiv{
    display:flex;
    justify-content:space-evenly;
    margin-top:150px;
}

.contacth{
    font-family:sans-serif;
    font-size:18px;
    margin-top:20px;
    text-align:left;
    line-height:30px;
}
/* transitions part */

.navanchor:hover{
    color:lightgreen;
}

.heading:hover{
    color:#7ba418;
}

.button1:hover{
    background-color:#F0F8FF;
    color:black;
}

.img1:hover,.img2:hover,.img3:hover,.lastimg:hover{
    transform:scale(1.10);
    transition-duration:1s;
}

.a:hover{
    color:#7ba418;
    text-decoration: underline;
    text-decoration-color: #7ba418;
}

.ourproduts:hover{
    color:#7ba418;
    text-decoration-color: #7ba418;
}

.heading1:hover{
    color:#7ba418;
}

.lastsectionimg1heading:hover{
    color:#7ba418;
}
